﻿<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @if (!Request.IsLocal && Request.ServerVariables["REMOTE_ADDR"] != "5.103.74.145")
    {
        <script type="text/javascript">
            var appInsights=window.appInsights||function(config){
                function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
            }({
                instrumentationKey: "614dbdeb-1b63-4103-b1e3-96d1930d2ff0",
                sessionRenewalMs: 3600000,
                sessionExpirationMs: 172800000
            });

            window.appInsights=appInsights;
            appInsights.trackPageView();
        </script>
    }
 
</head>
<body>
<div class="container">

@Html.Partial("_Menu")    
</div>

<div class="container">
  <div class="panel panel-primary">
    @RenderBody()
  </div>
</div>

 @Scripts.Render("~/bundles/jquery")
 @Scripts.Render("~/bundles/bootstrap")
 @RenderSection("scripts", required: false)
</body>
</html>
