﻿<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/Images/logo.png" class="logo" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Forside", "Index", "Home", new {}, null)</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Til salg<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Liste", "Index", "Monkey", new {area = ""}, null)</li>
                            <li>@Html.ActionLink("Ikke se ikke høre ikke tale", "Search", "Monkey", new {searchTerm = "Ikke"}, null)</li>
                            <li>@Html.ActionLink("Fedtsten", "Search", "Monkey", new {searchTerm = "Fedtsten"}, null)</li>
                        </ul>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Samling<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Liste", "Index", "Collection", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Opret figur", "Create", "Collection", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Statistik", "Index", "Statistics", new { area = "" }, null)</li>
                        </ul>
                    </li>

                    }
                    </ul>
                <form action="/monkey/search" method="POST" role="search" class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" id="searchTerm" name="searchTerm" class="form-control" placeholder="Søg" />
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-search"></span>Søg</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <p class="navbar-text">
                                @Html.Encode(User.Identity.Name)                                
                            </p>
                        </li>
                        <li>@Html.ActionLink("Logout", "LogOut", "User", new {area = ""}, null)</li>
    
                    }
                    else
                    {
                    <li>@Html.ActionLink("Login", "LogIn", "User", new { area = "" }, null)</li>
                    }


 
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>    
</header>
