﻿@model IList<MonkeyMvc.Models.PictureModel>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @foreach (var item in @Model)
        {
          <li data-target="#myCarousel" data-slide-to="@item.Index" class="x @item.Active"></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        @foreach (var item in @Model)
        {
            <div class="item @item.Active">
                <img src="@item.Url" alt="@item.Alt" style="margin-right: auto; margin-left: auto">
                <div class="carousel-caption">
                    <h3>@item.Alt</h3>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
