﻿@model IList<MonkeyMvc.Models.PictureModel>
@{
  ViewBag.Title = "Forside";
}

<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Abe figurer</h1>
                <br/>
                <h2>Til salg</h2>
            </hgroup>
        </div>
    </section>
<section class="main-content clear-fix">
    <h3>Sådan gør du</h3>
    <ol class="round">
        <li class="one">
            <h4>Søg</h4>
            Benyt søgefacilitet i menuen eller vælg Til salg og Liste fra menuen
        </li>
        <li class="two">
            <h4>Vælg</h4>
            Vælg figurer, jo flere du vælger des større rabat
        </li>
        <li class="three">
            <h4>Køb</h4>
            Noter numre på de ønskede figurer og send mig en <a href="mailto:soeren.solberg@gmail.com">Mail</a>
        </li>
    </ol>
    @Html.Partial("Carousel", @Model)
</section>
