﻿@model Monkey.Mvc.Models.FigureModel

@{
    ViewBag.Title = "Samling - Opret figur";
}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Opret figur</h1>
        </hgroup>
    </div>
</section>
<section class="main-content clear-fix">

    @using (Html.BeginForm("Create", "Collection", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Opret figur</h4>
        <hr />
        @Html.Partial("_EditItem", @Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group btn-group-md">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"></span>Gem</button>
                    <a href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>Tilbage til oversigt</a>
                </div>

            </div>
        </div>
    </div>
    }

    <div>

    </div>
</section>