﻿@model Monkey.Mvc.Models.FigureModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoughtDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoughtDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoldFor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoldFor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoughtAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoughtAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dd>
            <img src="/Images/Figures/@Model.ImageName" class="details" />
        </dd>
    </dl>
</div>
