﻿@model Monkey.Mvc.Models.FigureModel

@{
    ViewBag.Title = "Samling - Ret figur";
}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Ret figur</h1>
        </hgroup>
    </div>
</section>
<section class="main-content clear-fix">

@using (Html.BeginForm("Edit", "Collection", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_EditItem", @Model)

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <div class="btn-group btn-group-sm">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"></span>Gem</button>
                    <a href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>Tilbage til oversigt</a>
                </div>
            </div>
        </div>
    </div>
    }
</section>

