﻿@using Monkey.Mvc.Models
@model IEnumerable<FigureModel>

@{
    ViewBag.Title = "Oversigt";
}
  
<div class="panel-heading"><h1>Oversigt</h1></div>
<div class="panel-body">
  <p>
      <a href="@Url.Action("Create")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Opret</a>        
  </p>
  @foreach (var item in Model)
  {
      Html.RenderPartial("_ListItem", item);
  }

</div>

@{Html.RenderPartial("_Modal", new ActionModel {Action = "Details", Controller = "Collection"});}

@section scripts{
    <script src="~/Scripts/App/Viewer.js"></script>
}


