﻿@model Monkey.Mvc.Models.StatisticsModel

@{
    ViewBag.Title = "Statistik";
}
  <div class="panel-heading">Statistik</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor(model => model.TotalCount)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.TotalCount)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.SoldCount)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.SoldCount)
      </dd>
      <dt>
        @Html.DisplayNameFor(model => model.RemainCount)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.RemainCount)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.SoldAmount)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.SoldAmount)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.SoldPurchasePrice)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.SoldPurchasePrice)
      </dd>


      <dt>
        @Html.DisplayNameFor(model => model.TotalAmount)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.TotalAmount)
      </dd>
    </dl>
  </div>
