﻿@model Monkey.Mvc.Models.UserModel

@{
  ViewBag.Title = "Login";
}

<div class="panel-heading"><h1>Please login</h1></div>
<div class="panel-body">

  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <div class="login-form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          <div class="col-sm-12">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="submit" value="Login" class="btn btn-primary btn-block" />
          </div>
        </div>
      </div>
    </div>
  }
</div>



