﻿@using MonkeyMvc.Models
@model IEnumerable<FigureModel>

@{
    ViewBag.Title = "Oversigt";
}
  

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Oversigt</h1>
        </hgroup>
    </div>
</section>
<section class="main-content clear-fix">
    <p>
       <a href="@Url.Action("Create")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Opret</a>        
    </p>
    @foreach (var item in Model)
    {
        Html.RenderPartial("_ListItem", item);
    }
</section>

@{Html.RenderPartial("_Modal", new ActionModel {Action = "Details", Controller = "Collection"});}

@section scripts{
    <script src="~/Scripts/App/Viewer.js"></script>
}


