﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
        <div class="float-right">
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("MVC", "Index", "Monkey", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Collection", "Index", "Collection", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Angular", "Index", "Angular", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Figure", "API", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Help", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
