﻿@model MonkeyMvc.Models.ActionModel

<div id="modalDetails" class="modal fade" role="dialog" data-url='@Url.Action(Model.Action, Model.Controller)'>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detaljer</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-eye-close"></span>Luk</button>
            </div>
        </div>
    </div>
</div>

