﻿@using MonkeyMvc.Models
@model MonkeyMvc.Models.MonkeyModel

@{
    ViewBag.Title = "Oversigt til salg";
}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Oversigt</h1>
        </hgroup>
    </div>
</section>
<section class="main-content clear-fix">
    @foreach (var item in Model.Figures)
    {
        Html.RenderPartial("_ListItem", item);
    }
</section>

@{Html.RenderPartial("_Modal", new ActionModel() {Action = "Details", Controller = "Monkey"});}

@section scripts{
    <script src="~/Scripts/App/Viewer.js"></script>
}
