﻿@using MonkeyMvc.Models
@model IEnumerable<MonkeyMvc.Models.FigureModel>

@{
    ViewBag.Title = "Søgning";
}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Oversigt (@Model.Count() figurer)</h1>
        </hgroup>
    </div>
</section>

<section class="main-content clear-fix">

    @foreach (var item in Model)
    {
    @Html.Partial("_ListItem", item)
    }
</section>

    @Html.Partial("_Modal", new ActionModel() { Action = "Details", Controller = "Monkey" })

@section scripts{
  <script src="~/Scripts/App/Viewer.js"></script>
}
