﻿@model Monkey.Mvc.Models.FigureModel

<div class="itemHolder">
    <div class="col-md-6">
        <div style="padding-right: 20px;">
            <img src="/Images/Figures/index/@Model.ImageName" class="index" data-toogle="modal" data-target="#modalDetails" />
        </div>
    </div>

    <div class="col-md-6">
            <ul class="field-list">
                <li>
                    <label>@Html.DisplayNameFor(model => model.Id)</label>
                    <div>@Html.DisplayFor(modelItem => Model.Id)</div>
                </li>
                <li>
                    <label>@Html.DisplayNameFor(model => model.SalesPrice)</label>
                    <div>@Html.DisplayFor(modelItem => Model.SalesPrice)</div>
                </li>
                <li>
                    <label>@Html.DisplayNameFor(model => model.Material)</label>
                    <div>@Html.DisplayFor(modelItem => Model.Material)</div>
                </li>
                <li>
                    <label></label>
                    <div></div>
                </li>
                <li>
                    <label></label>
                    <div></div>
                </li>
                <li>
                    <label></label>
                    <div>
                        <div class="btn-group btn-group-sm">

                            @if (Request.IsAuthenticated)
                            {
                              <a href="@Url.Action("Edit", new {id = Model.Id})" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>Ret</a>
                              <a href="@Url.Action("Delete", new {id = Model.Id})" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span>Slet</a>
                            }
                            <a href='@string.Format("javascript:Viewer.getMonkey({0})", Model.Id)' class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span>Detaljer</a>
                        </div>
                      </div>

                </li>
            </ul>
        </div>
</div>

