﻿@model Monkey.Mvc.Models.FigureModel

@{
    ViewBag.Title = "Ret information";
}
<div class="panel-heading">
  <h1>Ret figur</h1>
</div>
<div class="panel-body">

@using (Html.BeginForm("Edit", "Monkey", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_EditItem", @Model)

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <div class="btn-group btn-group-sm">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"></span>Gem</button>
                    <a href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>Tilbage til oversigt</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>
