﻿@using Monkey.Mvc.Models
@model Monkey.Mvc.Models.MonkeyModel

@{
    ViewBag.Title = "Oversigt til salg";
}
<div class="panel-heading"><h1>Oversigt</h1></div>
<div class="panel-body">
  @foreach (var item in Model.Figures)
  {
    Html.RenderPartial("_ListItem", item);
  }
</div>

@{Html.RenderPartial("_Modal", new ActionModel() {Action = "Details", Controller = "Monkey"});}

@section scripts{
    <script src="~/Scripts/App/Viewer.js"></script>
}
