﻿@using Monkey.Mvc.Models
@model IEnumerable<Monkey.Mvc.Models.FigureModel>

@{
    ViewBag.Title = "Søgning";
}

<div class="panel-heading"><h1>Oversigt (@Model.Count() figurer)</h1></div>
<div class="panel-body">
    @foreach (var item in Model)
    {
    @Html.Partial("_ListItem", item)
    }
</div>

    @Html.Partial("_Modal", new ActionModel() { Action = "Details", Controller = "Monkey" })

@section scripts{
  <script src="~/Scripts/App/Viewer.js"></script>
}
