.FloatLeft
{
	float:left;
}

.ClearFloat
{
	clear:both;
}

.FieldText
{
    font-weight:normal;
    text-align:left;
}

.FieldLabel
{
    Font-Weight: bold;
    text-align:left;
}

.Center
{
  vertical-align :middle;
  text-align:center;
}

.DateField
{
	width:65px
}

.FieldPassword
{
	width:100px;
}

.ColumnText
{
    text-align:left;
}

.ColumnDate
{
    width:80px;
    text-align:left;
}

.ColumnDateTime
{
    width:125px;
    text-align:left;
}

.ColumnPhone
{
    width:80px;
    text-align:left;
}

.ColumnLeft
{
    text-align:left;
}

.ColumnButton
{
  padding :1px;
  border: 1px solid black;
  margin-right:2px;
  margin-left:2px;
}

.ColumnButton1
{
    width:20px;
    text-align:left;
}

.ColumnButton2
{
    width:40px;
    text-align:left;    
}

.ColumnMail
{
    width:200px;
    text-align:left;
}

.ColumnPerson
{
   width:70px;    
   text-align:left;   
}

.ColumnKr
{
   Width:100px;
   text-align:right;
}

.ContentLeft,
.LabelColumn01, .LabelColumn02,
.HeaderColumn01, .HeaderColumn02,
.ListColumnData01, .ListColumnData02,.ListColumnData03, .ListColumnData04, .ListColumnData05,
.ListColumnButton01,
.FieldColumn01,
.ButtonColumn01,
.ContentLeft, .ContentRight,
.ToolButtonColumn01,
.TextColumn01, .TextColumn02,
.ErrorColumn01

{
	float:left;
	display:block;
}

.ContentRight
{
	float:right;
}

.LabelColumn01,
.LabelColumn02
{
  Font-Weight: bold;
  text-align:left;
  padding:8px;
  /* Fix for ajax tabbed note book */
  font-family: "Microsoft sans serif", Arial, Verdana;  
  font-size:8pt;
  
}

.ErrorColumn01
{
	padding: 8px 0px 8px 0px;
}

.HeaderColumn01,
.HeaderColumn02
{
	font-weight:bold;
}

.FieldColumn01
{
	padding:6px;
}

.ListColumnData01, .ListColumnData02,.ListColumnData03, .ListColumnData04, .ListColumnData05
{
	padding:5px 2px 2px 2px;
}

.ListColumnButton01
{
	padding:2px;
}


.ButtonColumn01, .HeaderColumn01
{
	text-align:center;
	padding:8px;
}


.ToolButtonColumn01
{
	padding:2px;
}

.ClearFloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height:0;
}

ul.output-list,
ul.field-list
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

ul.output-list li,
ul.field-list li
{
    padding: 2px 0px 2px 2px;
}

ul.output-list li
{
    height:19px;
}

ul.output-list li label,
ul.field-list li label,
ul.field-list li div.error,
ul.output-list li div.field, 
ul.output-list li div.text,
ul.field-list li div.field
{
    display:inline-block;
}

ul.output-list li label
{
    padding-right:6px;
}

ul.field-list li label
{
   vertical-align:top;
   padding-top:4px;
   width:100px;
}

ul.field-list li div.error
{
    width:20px;
    vertical-align:top;
    padding-top:2px;
}

ul.field-list li div.buttons
{
    margin-top:20px;
    text-align:center;
}