body {
  PADDING-LEFT: 20px;
  Margin-top: 2px;
  Margin-left: 0px;
  Margin-right: 0px;
  Margin-bottom: 2px;
  COLOR: black;
  font-size: 8pt;
}

fieldset {
  width: 800px;
  padding: 10px;
  text-align: left;
}

legend {
  font-weight: bold;
  font-size: 10pt;
}

select {
  width: 100px;
  font-size: 8pt;
  margin-left: 2px;
}

input[type=submit]{ width: 100px;font-weight: bold;height: 22px;}

input {
  font-size: 8pt;
}

ul.fieldList, ul.infoList, ul.linkList, ul.dataList {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul li{ min-height: 20px;}

  ul.infoList li, ul.linkList li {
    padding: 5px 0px 5px 0px;
  }

ul li label {
  font-weight: bold;
  width: 100px;
}

ul li label,
ul li .field {
  float: left;
}

ul.fieldList li,
ul.dataList li {
  padding: 3px 0px 3px 0px;
}


ul.fieldList li div.field {
  width: 300px;
}

ul.fieldList li label {
  padding-top: 4px;
}

.hide {
  display: none;
}

.show {
  display: block;
}


body, .FieldText, .FieldLabel, .FieldInput, input {
  FONT-FAMILY: "Microsoft sans serif", Arial, Verdana;
}
