﻿@model IList<Monkey.Mvc.Models.PictureModel>
@{
  ViewBag.Title = "Forside";
}

  <div class="panel-heading">
    <h1>Abe figurer</h1>
    <br />
    <h2>Til salg</h2>
  </div>
  <div class="panel-body">
    <h3>Sådan gør du</h3>
    <ol class="round">
      <li class="one">
        <h4>Søg</h4>
        Benyt søgefacilitet i menuen eller vælg Til salg og Liste fra menuen
      </li>
      <li class="two">
        <h4>Vælg</h4>
        Vælg figurer, jo flere du vælger des større rabat
      </li>
      <li class="three">
        <h4>Køb</h4>
        Noter numre på de ønskede figurer og send mig en <a href="mailto:soeren.solberg@gmail.com">Mail</a>
      </li>
    </ol>
    @Html.Partial("Carousel", @Model)
  </div>
